<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBAM | @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custom.css">
    @RenderSection("Styles", required: false)
</head>
<body class="canvas-menu">

    <div id="wrapper">
        <!-- Navigation -->
        @await Html.PartialAsync("_TopNavbar")

        <!-- Main view -->
        <div id="page-wrapper" class="gray-bg @ViewBag.PageClass">
            @RenderBody()
        </div>

        <!-- Right Sidebar -->
        @await Html.PartialAsync("_RightSidebar")

        <!-- Footer -->
        @await Html.PartialAsync("_Footer")
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/general.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
